/* CSS Document */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 14px;
    color: #333;
    background: #000;
    font-family: "Microsoft Yahei";
    height: 100%;
    width: 100%;
}

ul li {
    list-style: none;
    vertical-align: bottom;
}

a,
span {
    text-decoration: none;
    color: #000;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
}

a:hover {
    text-decoration: none;
}

img {
    border: none;
    vertical-align: middle;
}

table {
    border: none;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    overflow: hidden;
}

table tr {
    white-space: 0;
}

table tr td {
    vertical-align: middle;
}

.clear {
    clear: both;
}

h1,
h2,
h3,
h4 {
    line-height: 100%;
}

:focus {
    outline: none;
}

a,
area {
    blr: expression(this.onFocus=this.blur())
}

.container {
    width: 1200px;
    position: relative;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
}

.hide {
    display: none;
}


/*------------------------------------HEAD-----------------------------------------*/

.logo {
    width: 100%;
    height: 1.5rem;
    background: #666;
}

.logo .back {
    color: #fff;
    font-size: 0.85rem;
    margin-top: -1rem;
    margin-left: 0.5rem;
    width: 1rem;
    height: 1rem;
    display: block;
}

.logo img {
    margin: 0 auto;
    display: block;
    padding-top: 0.5rem;
}

.biao {
    height: 2.5rem;
    background: #242330;
}

.biao .hot {
    font-size: 0.5rem;
    color: #fff;
    text-align: center;
    line-height: 2.5rem;
}

.biao a {
    width: 15%;
    font-size: 0.35rem;
    color: #fff;
    margin-top: -1.5rem;
    display: block;
    text-align: right;
    margin-left: 82%;
}

.hots .swiper-container {
    width: 100%;
    height: 100%;
}

.hots .swiper-slide {
    text-align: center;
    font-size: 18px;
    width: 92% !important;
    margin-left: 4% !important;
    margin-right: 7% !important;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.hots img {
    width: 100%;
    border-radius: 4%;
}

.hots {
    background: #242330;
}

.hots .block {
    height: 2.5rem;
    width: 100%;
}

.hots .block ul {
    width: 90%;
    margin: 0 auto;
    margin-top: 6%;
}

.hots .block ul li {
    color: #999;
    display: inline-block;
    border-radius: 0.48rem;
    height: 0.6rem;
    font-size: 0.36rem;
    border: 2px solid;
    line-height: 0.6rem;
    padding: 0 2%;
    margin: 0 1%;
    margin-bottom: 3%;
}

.hots .block ul li a {
    color: #999;
}


/* 专题精选 */

.selection {
    background: #1C1A34;
}

.selection .model {
    display: block;
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 2%;
    margin-bottom: 2%;
}

.selection .model .eye {
    width: 100%;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}

.selection .model .font {
    height: 158px;
    background: #fff;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
}

.selection .model .font span {
    font-size: 0.4rem;
    color: #333;
    line-height: 0.6rem;
    margin-left: 0.28rem;
    padding-top: 0.16rem;
    display: block;
}

.selection .model .font p {
    font-size: 0.28rem;
    color: #999;
    line-height: 0.4rem;
    margin-left: 0.28rem;
    margin-top: 0.14rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 94%;
}