@import "common";
@import "buttons";
@import "video";
@import "flexslider";
@import "compass/typography/text/ellipsis";
body {
    background: #FDFFFF;
}

img {
    vertical-align: top !important;
}

.page {
    top: 0 !important;
    padding: 0.5rem;
}