<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="logDir" value="/data/logs" />
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<Target>System.out</Target>
		<encoder>
			<pattern>
				%d %-5level %X{session} %X{username} %-15X{client} %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="sql" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d %-5level %X{session} %X{username} %-15X{client} %n%msg%n
			</pattern>
		</encoder>
	</appender>
	
	<appender name="console-info"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/pat_info.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/pat_info.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>31</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d %-5level %X{session} %X{username} %-15X{client} %n%msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <!-- 过滤器，只记录INFO级别的日志 -->  
        <filter class="ch.qos.logback.classic.filter.LevelFilter">  
            <level>INFO</level>  
            <onMatch>ACCEPT</onMatch>  
            <onMismatch>DENY</onMismatch>  
        </filter>  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <!-- 按天回滚 daily -->  
            <fileNamePattern>logs/%d{yyyy-MM-dd}/info-log.log  
            </fileNamePattern>  
            <!-- 日志最大的历史 31天 -->  
            <maxHistory>31</maxHistory>  
        </rollingPolicy>  
        <encoder>  
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>  
        </encoder>  
    </appender>  
	
	<appender name="sql-file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/pat_sql.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/pat_sql.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>31</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d %-5level %X{session} %X{username} %-15X{client} %n%msg%n</pattern>
		</encoder>
	</appender>
	<appender name="service-file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/pat_service.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/pat_service.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>31</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d %-5level %X{session} %X{username} %-15X{client} %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="error-file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/pat_error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/pat_error.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>31</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d %-5level %X{session} %X{username} %-15X{client} %n%msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- jdbc.resultsettable jdbc.sqlonly jdbc.sqltiming jdbc.audit jdbc.resultset 
		jdbc.connection have action time -->
	<logger name="jdbc.sqltiming" level="info" additivity="false">
		<appender-ref ref="sql" />
		<appender-ref ref="sql-file" />
	</logger>
	
	<!-- no action time -->
	<!-- <logger name="jdbc.sqlonly" level="info" additivity="false">
		<appender-ref ref="sql" />
		<appender-ref ref="sql-file" />
	</logger> -->
	
	<!-- connection information -->
	<logger name="java.sql.Connection" additivity="false">    
        <level value="warn" />    
    </logger>
    
    <!-- sql information -->
    <logger name="java.sql.PreparedStatement" additivity="false">    
        <level value="info" />    
    </logger>
    
    <!-- ResultSet information -->
     <logger name="java.sql.ResultSet" additivity="false">    
        <level value="warn" />    
    </logger>  
	
	<logger name="debug" level="info" additivity="false">
		<appender-ref ref="console" />
	</logger>
	<logger name="service" level="info" additivity="false">
		<appender-ref ref="console" />
		<appender-ref ref="service-file" />
	</logger>
	<logger name="info" level="info" additivity="false">
		<appender-ref ref="console" />
		<appender-ref ref="console-info" />
		<appender-ref ref="INFO" />
	</logger>
	<logger name="error" level="warn" additivity="false">
		<appender-ref ref="error-file" />
	</logger>
	<logger name="com.panfeng.logger.keywords" level="info" additivity="false">
		<appender-ref ref="keywords" />
	</logger>
	<root level="WARN">
		<appender-ref ref="console" />
		<appender-ref ref="console-info" />
		<appender-ref ref="INFO" />
		<appender-ref ref="sql-file" />
		<appender-ref ref="error-file" />
		<appender-ref ref="keywords" />
	</root>
</configuration>