@import "common";
@import "buttons";
@import "video";
@import "bootstrap-grid";
@import "fontSize";
@import "variables";
@import "common_portal";
@import "compass/typography/text/ellipsis";
$header-height-460: 48px; // 头部高度（分辨路低于460
$header-height-top: 13px; // 头部top
body {
    background: $gray-dark;
}

input {
    -webkit-appearance: none;
}

textarea {
    -webkit-appearance: none;
}

.errorDiv {
    height: 1.3rem;
    width: 100%;
    text-align: center;
    color: white;
    background: $red-base;
    font-size: 0.42rem;
    position: fixed;
    top: 1.3rem;
    line-height: 1.3rem;
    z-index: 20;
}

//下单成功
.model {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20;
    .success {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -4.5rem;
        margin-left: -4.5rem;
        width: 9rem;
        height: 9rem;
        background: white;
        text-align: center;
        border-radius: 18px;
        img {
            width: 2.4rem;
            margin-top: 1.2rem;
        }
        a {
            color: $red-base !important;
        }
        div:nth-child(2) {
            color: $gray-dark;
            font-size: $size46;
            margin-top: 0.6rem;
            margin-bottom: 0.4rem;
        }
        div:nth-child(3) {
            color: $gray-light;
            font-size: $size36;
            margin-bottom: 1rem;
        }
        div:nth-child(4) {
            color: white !important;
            font-size: $size40;
            width: 5rem;
            height: 1.1rem;
            line-height: 1.1rem;
            text-align: center;
            border-radius: 100px;
            background: $red-base;
            box-shadow: 0 4px 8px 0;
            margin: 0 auto;
        }
    }
}

.stepTopDiv {
    width: 9rem;
    margin: 0 auto;
    margin-top: 1.6rem;
    font-size: 0;
}

.stepOne {
    width: 9rem;
    margin: 0 auto;
    font-size: 0;
}

.stepTwo {
    width: 9rem;
    margin: 0 auto;
    font-size: 0;
}

.titleTop {
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    border-bottom: 1px solid $gray-light;
    color: #e3e3e3;
    font-size: $size46;
    text-align: left;
    margin-bottom: 0.6rem;
    position: relative;
    padding-left: 0.2rem;
    span {
        color: $red-base;
        position: absolute;
        top: 0.07rem;
        left: -0.5rem;
    }
}

.area {
    div,
    input {
        display: inline-block;
        vertical-align: top !important;
        position: relative;
        top: 0.2rem;
    }
    textarea {
        width: 6.5rem;
        color: $border-line;
        font-size: 0.34rem;
        height: 2.7rem;
        border: 1px solid $border-line;
        border-radius: 8px;
        background: transparent;
        border-radius: 4px;
        background: none;
        padding-left: 10px;
        color: $border-line;
        font-size: 0.34rem;
        resize: none;
        line-height: 20px;
    }
}

.item {
    position: relative;
    margin-bottom: 0.4rem;
    padding-left: 0.2rem;
    div,
    input {
        display: inline-block;
        vertical-align: middle;
    }
    div {
        width: 2rem;
        color: $border-line;
        font-size: $size40;
    }
    input {
        width: 6.5rem;
        color: $border-line;
        font-size: $size40;
        height: 1.1rem;
        border: 1px solid $border-line;
        padding-left: 10px;
        border-radius: 4px;
        background: transparent;
    }
}

.nextBtn {
    width: 8rem;
    height: 1.1rem;
    color: white;
    font-size: $size40;
    border-radius: 100px;
    background: $red-base;
    text-align: center;
    line-height: 1.1rem;
    position: relative;
    left: 50%;
    margin-left: -4rem;
    margin-top: 1.3rem;
}

.step2BtnDiv {
    width: 8rem;
    font-size: 0;
    position: absolute;
    left: 50%;
    bottom: 2.5rem;
    margin-left: -4rem;
    div {
        width: 3.8rem;
        height: 1.1rem;
        line-height: 1.1rem;
        background: $red-base;
        border-radius: 100px;
        display: inline-block;
        vertical-align: top;
        margin-right: 0.2rem;
        color: white;
        font-size: $size40;
        text-align: center;
    }
    div:nth-child(2) {
        margin-right: 0;
    }
}

.up {
    position: absolute;
    top: 0;
    right: 0.3rem;
    width: 1.1rem !important;
    height: 1.1rem;
    border-left: 1px solid $border-line;
    img {
        width: 0.8rem;
        position: relative;
        top: 0.15rem;
        left: 0.1rem;
    }
}
