@import "common";
@import "buttons";
@import "video";
@import "bootstrap-grid";
@import "fontSize";
@import "variables";
@import "compass/typography/text/ellipsis";
$header-height-460: 48px;
body {
    background: green;
}

.ss {
    width: 50px;
    height: 50px;
    background: red;
}

.headerNew {
    position: relative;
    width: 100%;
    height: $header-height-460;
    background-color: #ffffff;
    z-index: 2000;
    bottom: 1px;
    border-bottom: solid 1px #ccc;
    .div {
        position: relative;
        display: inline-block;
    }
    .back {
        height: 22px;
        width: 22px;
        background: image-url("/resources/images/icons/back.png") no-repeat;
        background-size: 12px;
        margin: 16px auto;
    }
    .logo {
        width: 90px;
        height: 30px;
        background: image-url("/resources/images/icons/logo_black.png") no-repeat;
        background-size: 76px;
        margin: 14px auto;
    }
}

.page {
    background: #f2f2f2;
}

a:link,
a:visited {
    text-decoration: none;
    /*超链接无下划线*/
}
