@import "common";
@import "buttons";
@import "video";
@import "model";
@import "fontSize";
@import "compass/typography/text/ellipsis";
@import "common_portal";
@import "common_card";
.pagePhone {
    top: 1.3rem;
    min-height: 6rem;
    background:black;
    overflow-x: hidden;
    height: auto !important;
}
.footPhone {
	padding-top: 1.6rem;
}

