@import "common";
@import "buttons";
@import "video";
@import "bootstrap-grid";
@import "fontSize";
@import "compass/typography/text/ellipsis";
@import "common_portal";
body {
    width: 100%;
    height: 100%;
    font-family: "Microsoft YaHei", "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    color: #333;
    background-color: #f9fbfb
}

.swiper-slide {
    position: relative;
    .top {
        position: absolute;
        // top: 0;
        height: 100%;
        width: 100%;
    }
    .cen {
        width: 100%;
        height: 28%;
        background: #000;
        z-index: 2;
        // position: absolute;
        // position: fixed;
        margin-top: 48%;
        .order {
            height: 100%;
            background: #000;
            .phone {
                width: 8.5rem;
                height: 55px;
                margin: 0 auto;
                #phone {
                    width: 100%;
                    border: none;
                    font-size: 0.4rem;
                    height: 1rem;
                    background-color: transparent;
                    border-radius: 0.2rem;
                    line-height: 1rem;
                    text-indent: 0.2rem;
                    border: 1px solid #5e9fc9;
                    outline: none;
                    margin: 0 auto;
                    position: relative;
                }
                .var {
                    margin-top: -0.9rem;
                    line-height: 0.65rem;
                    color: #d2dfe8;
                    background-color: #5385aa;
                    width: 30%;
                    height: 0.65rem;
                    font-size: 0.4rem;
                    border-radius: 5px;
                    position: absolute;
                    right: 1.4rem;
                }
                .error {
                    color: #f95d64;
                    font-size: 0.12rem;
                    text-align: left;
                    margin-top: 0.2rem;
                }
            }
            .number {
                width: 8.5rem;
                height: 55px;
                margin: 0 auto;
                #num {
                    width: 100%;
                    border: none;
                    font-size: 0.4rem;
                    height: 1rem;
                    background-color: transparent;
                    border-radius: 5px;
                    line-height: 1rem;
                    text-indent: 0.2rem;
                    border: 1px solid #5e9fc9;
                    outline: none;
                    margin: 0 auto;
                }
                .error {
                    color: #f95d64;
                    font-size: 0.12rem;
                    text-align: left;
                    margin-top: 0.08rem;
                }
            }
            .btnSub {
                width: 8.5rem;
                height: 1rem;
                margin: 0 auto;
                display: block;
                color: #fff;
                background-color: #fa535b;
                border: none;
                border: 1px solid #a12831;
                border-radius: 5px;
                font-size: 0.6rem;
            }
        }
    }
    .model {
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 20;
        display: none;
        .success {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -4.5rem;
            margin-left: -4.5rem;
            width: 9rem;
            height: 9rem;
            background: white;
            text-align: center;
            border-radius: 18px;
            img {
                width: 40%;
                height: 40%;
                margin-top: 0.9rem;
            }
            #showStatues {
                color: #333;
                font-size: 0.65rem;
                margin-top: 0.6rem;
                margin-bottom: 0.4rem;
            }
            #showText {
                color: #333;
                width: 80%;
                margin: 0 auto;
                line-height: initial;
                font-size: 0.5rem;
                margin-bottom: 0.2rem;
            }
            #checkSuccess {
                color: white;
                font-size: 0.36rem;
                width: 4rem;
                height: 1rem;
                line-height: 1rem;
                text-align: center;
                border-radius: 100px;
                background: #fe5453;
                box-shadow: 0 4px 8px 0;
                margin: 0 auto;
                margin-top: 0.4rem;
            }
        }
    }
    .bto {
        // position: absolute;
        // bottom: 0;
        height: 15%;
        width: 100%;
    }
    #toPlayVideo {
        position: absolute;
        top: 0;
        left: 0;
    }
}