@import "common";
@import "buttons";
@import "video";
@import "bootstrap-grid";
@import "fontSize";
@import "compass/typography/text/ellipsis";
@import "common_portal";


.pagePhone{
    margin-top: 1.3rem;
    padding-bottom: 1.5rem;
}

video {
    width: 100%;
    margin-top: 1.2rem;
}

body {
    overflow: hidden;
    background: $gray-dark;
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
    /* 鎸囨甯哥殑鏈璁块棶杩囩殑閾炬帴*/
}

a:visited {
    text-decoration: none;
    /*鎸囧凡缁忚闂繃鐨勯摼鎺�*/
}

a:hover {
    text-decoration: none;
    /*鎸囬紶鏍囧湪閾炬帴*/
}

a:active {
    text-decoration: none;
    /* 鎸囨鍦ㄧ偣鐨勯摼鎺�*/
}

.title {
    height: 50px;
    line-height: 50px;
    width: 100%;
    border-bottom: 1px solid $border-line;
    text-align: center;
    color: $gray-dark;
    font-size: $font-size-sm10;
    position: relative;
}

.memberInfo {
    width: 100%;
    height: auto;
    position: relative;
    .memberContent {
        display: none;
        height: auto;
        margin-top: 30px;
        font-size: 12px;
        .memberContentInfo {
            margin-left: 8%;
            margin-right: 8%;
        }
        .text {
            padding-top: 0.3rem;
            color: $border-line;
            line-height: 30px;
            font-size: 0.34rem;
        }
        .share {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        img {
            height: 25px;
            margin-right: 15px;
        }
        .shareImg {
            // width:100px;
            // height: 100px;
            margin-top: 30px;
            clear: both;
            height: auto;
            width: 100%;
        }
        #showShare {
            width: 80%;
            margin: 0 auto;
        }
    }
    .memberCard {
        width: 100%;
        height: 123px;
        @media screen and (max-width: 320px) {
            height: 70px;
        }
        @media screen and (min-width: 320px) and (max-width: 380px) {
            height: 110px;
        }
        @media screen and (min-width: 380px) and (max-width: 420px) {
            height: 123px;
        }
        .infoHead {
            height: 93px;
            width: 93px;
            border-radius: 70px;
            position: relative;
            margin: 0 auto;
            @media screen and (max-width: 320px) {
                height: 40px;
                width: 40px;
            }
            @media screen and (min-width: 320px) and (max-width: 380px) {
                height: 86px;
                width: 86px;
            }
            @media screen and (min-width: 380px) and (max-width: 420px) {
                height: 93px;
                width: 93px;
            }
        }
        .infoHeadSide {
            height: 2.4rem;
            width: 2.4rem;
            background: image-url('/resources/images/provder/providerHeadSide.png') no-repeat;
            background-size: 2.4rem 2.4rem;
            margin-left: 8%;
            text-align: center;
            position: relative;
            top: 30px;
            display: inline-block;
        }
        ul {
            display: inline-block;
            margin-left: 5%;
            color: $gray-dark;
            text-align: left;
            height: 2.4rem;
            li:first-child {
                margin-top: 20px;
                font-size: $size46;
                color: #e3e3e3;
                font-weight: bold;
                position: relative;
                top: -0.3rem;
            }
            li:nth-child(2) {
                margin-top: 5px;
                position: relative;
                font-size: $size40;
                color: #e3e3e3;
                position: relative;
                top:0.2rem;
            }
        }
    }
}

.topHeader {
    position: relative;
    margin-top: 48px;
    background: image-url('/resources/images/company/banner.jpg') no-repeat;
    background-size: 100% 100%;
    width: 100%;
    background-size: cover;
    background-position: center 0;
    height: $flexslider-section-height720;
    @media screen and (max-width: 320px) {
        height: $flexslider-section-height320;
    }
    @media screen and (min-width: 320px) and (max-width: 380px) {
        height: $flexslider-section-height380;
    }
    @media screen and (min-width: 380px) and (max-width: 420px) {
        height: $flexslider-section-height420;
    }
    @media screen and (min-width: 421px) and (max-width: 640px) {
        height: $flexslider-section-height640;
    }
    @media screen and (min-width: 640px) and (max-width: 720px) {
        height: $flexslider-section-height640;
    }
    @media screen and (min-width: 720px) {
        height: $flexslider-section-height720;
    }
    ul {
        width: auto;
        height: auto;
        position: relative;
        z-index: 100;
        top: 140px;
        text-align: center;
        @media screen and (max-width: 320px) {
            top: 30px;
        }
        @media screen and (min-width: 320px) and (max-width: 380px) {
            top: 70px;
        }
        @media screen and (min-width: 380px) and (max-width: 420px) {
            top: 80px;
        }
        @media screen and (min-width: 421px) and (max-width: 640px) {
            top: 80px;
        }
        @media screen and (min-width: 640px) and (max-width: 720px) {
            top: 100px;
        }
        @media screen and (min-width: 720px) {
            top: 140px;
        }
        li:nth-child(1) {
            font-size: 16px;
            color: white;
            font-weight: bold;
        }
        div {
            margin: 0 auto;
            margin-top: 30px;
            color: white;
            font-size: 0.36rem;
            width: 4rem;
            height: 1rem;
            line-height: 1rem;
            border-radius: 61px;
            background:$red-base;
        }
    }
}

.contentImg0 {
    position: relative;
    animation: headMove 1s;
    -moz-animation: headMove 1s;
    /* Firefox */
    -webkit-animation: headMove 1s;
    /* Safari and Chrome */
    -o-animation: headMove 1s;
    /* Opera */
}

.contentImg1 {
    position: relative;
    animation: headMove 1.5s;
    -moz-animation: headMove 1.5s;
    /* Firefox */
    -webkit-animation: headMove 1.5s;
    /* Safari and Chrome */
    -o-animation: headMove 1.5s;
    /* Opera */
}

.contentImg2 {
    position: relative;
    animation: headMove 1.8s;
    -moz-animation: headMove 1.8s;
    /* Firefox */
    -webkit-animation: headMove 1.8s;
    /* Safari and Chrome */
    -o-animation: headMove 1.8s;
    /* Opera */
}

.contentImg3 {
    position: relative;
    animation: headMove 2s;
    -moz-animation: headMove 2s;
    /* Firefox */
    -webkit-animation: headMove 2s;
    /* Safari and Chrome */
    -o-animation: headMove 2s;
    /* Opera */
}

.contentImg4 {
    position: relative;
    animation: headMove 2.4s;
    -moz-animation: headMove 2.4s;
    /* Firefox */
    -webkit-animation: headMove 2.4s;
    /* Safari and Chrome */
    -o-animation: headMove 2.4s;
    /* Opera */
}

.contentImg5 {
    position: relative;
    animation: headMove 2.8s;
    -moz-animation: headMove 2.8s;
    /* Firefox */
    -webkit-animation: headMove 2.8s;
    /* Safari and Chrome */
    -o-animation: headMove 2.8s;
    /* Opera */
}

.contentWord0 {
    position: relative;
    animation: headMoveRight 1s;
    -moz-animation: headMoveRight 1s;
    /* Firefox */
    -webkit-animation: headMoveRight 1s;
    /* Safari and Chrome */
    -o-animation: headMoveRight 1s;
    /* Opera */
}

.contentWord1 {
    position: relative;
    animation: headMoveRight 1.5s;
    -moz-animation: headMoveRight 1.5s;
    /* Firefox */
    -webkit-animation: headMoveRight 1.5s;
    /* Safari and Chrome */
    -o-animation: headMoveRight 1.5s;
    /* Opera */
}

.contentWord2 {
    position: relative;
    animation: headMoveRight 1.8s;
    -moz-animation: headMoveRight 1.8s;
    /* Firefox */
    -webkit-animation: headMoveRight 1.8s;
    /* Safari and Chrome */
    -o-animation: headMoveRight 1.8s;
    /* Opera */
}

.contentWord3 {
    position: relative;
    animation: headMoveRight 2s;
    -moz-animation: headMoveRight 2s;
    /* Firefox */
    -webkit-animation: headMoveRight 2s;
    /* Safari and Chrome */
    -o-animation: headMoveRight 2s;
    /* Opera */
}

.contentWord4 {
    position: relative;
    animation: headMoveRight 2.4s;
    -moz-animation: headMoveRight 2.4s;
    /* Firefox */
    -webkit-animation: headMoveRight 2.4s;
    /* Safari and Chrome */
    -o-animation: headMoveRight 2.4s;
    /* Opera */
}

.contentWord5 {
    position: relative;
    animation: headMoveRight 2.8s;
    -moz-animation: headMoveRight 2.8s;
    /* Firefox */
    -webkit-animation: headMoveRight 2.8s;
    /* Safari and Chrome */
    -o-animation: headMoveRight 2.8s;
    /* Opera */
}

@keyframes headMove {
    0% {
        left: -100%
    }
    80% {
        left: 2%
    }
    100% {
        left: 0px
    }
}

@-o-keyframes headMoveRight
/* Opera */

{
    0% {
        left: -100%
    }
    80% {
        left: 2%
    }
    100% {
        left: 0px
    }
}

@-moz-keyframes headMove
/* Firefox */

{
    0% {
        left: -100%
    }
    80% {
        left: 2%
    }
    100% {
        left: 0px
    }
}

@-webkit-keyframes headMove
/* Safari 閸滐拷 Chrome */

{
    0% {
        left: -100%
    }
    80% {
        left: 2%
    }
    100% {
        left: 0px
    }
}

@-o-keyframes headMoveRight
/* Opera */

{
    0% {
        right: -100%
    }
    80% {
        right: 2%
    }
    100% {
        right: 0px
    }
}

@keyframes headMoveRight {
    0% {
        right: -100%
    }
    80% {
        right: 2%
    }
    100% {
        right: 0px
    }
}

@-moz-keyframes headMoveRight
/* Firefox */

{
    0% {
        right: -100%
    }
    80% {
        right: 2%
    }
    100% {
        right: 0px
    }
}

@-webkit-keyframes headMoveRight
/* Safari 閸滐拷 Chrome */

{
    0% {
        right: -100%
    }
    80% {
        right: 2%
    }
    100% {
        right: 0px
    }
}

.topHeaderBottom {
    height: 79px;
    @media screen and (max-width: 360px) {
        height: 45px;
    }
    @media screen and (min-width: 360px) and (max-width: 500px) {
        height: 55px;
    }
}

.showWeiXin {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 999;
}


.footPhone{
    margin-top: 0.5rem;
}
