@import "common";
@import "buttons";
@import "video";
@import "bootstrap-grid";
@import "fontSize";
@import "compass/typography/text/ellipsis";
@import "common_portal";
$video-content-height: 421px; // 一行视频的高度
$video-content-height320: 334px; // 一行视频的高度(320px)
$video-content-height360: 356px; // 一行视频的高度(360px)
$video-content-height390: 372px; // 视频图片的高度(390px)
$video-content-height640: 511px; // 一行视频的高度(640px)
$video-content-height720: 558px; // 一行视频的高度(720px)
body{
    background: $gray-dark;
    overflow: hidden;
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
    /* 指正常的未被访问过的链接*/
}

a:visited {
    text-decoration: none;
    /*指已经访问过的链接*/
}

a:hover {
    text-decoration: none;
    /*指鼠标在链接*/
}

a:active {
    text-decoration: none;
    /* 指正在点的链接*/
}



.pagePhone{
    margin-top: 1.3rem;
}

video {
    width: 100%;
    background: black;
    // @media screen and (max-width: 360px) {
    //     height: $video-content-height320;
    // }
    // @media screen and (min-width: 360px) and (max-width: 390px) {
    //     height: $video-content-height360;
    // }
    // @media screen and (min-width: 390px) and (max-width: 460px) {
    //     height: $video-content-height390;
    // }
    // @media screen and (min-width: 460px) and (max-width: 720px) {
    //     height: $video-content-height640;
    // }
    // @media screen and (min-width: 720px) {
    //     height: $video-content-height720;
    // }
    
}

.stepImg {
    width: 100%;
    border-bottom: 1px solid none;
    display: block;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
}







