@import "common";
@import "buttons";
@import "video";
@import "bootstrap-grid";
@import "fontSize";
@import "compass/typography/text/ellipsis";
@import "common_portal";
$video-content-height: 421px; // 一行视频的高度
$video-content-height320: 334px; // 一行视频的高度(320px)
$video-content-height360: 356px; // 一行视频的高度(360px)
$video-content-height390: 372px; // 视频图片的高度(390px)
$video-content-height640: 511px; // 一行视频的高度(640px)
$video-content-height720: 558px; // 一行视频的高度(720px)
$video-video-height: 270px; // 视频图片的高度
$video-video-height320: 180px; // 视频图片的高度(320px)
$video-video-height360: 202px; // 视频图片的高度(360px)
$video-video-height390: 220px; // 视频图片的高度(320px)
$video-video-height640: 360px; // 视频图片的高度(640px)
$video-video-height720: 405px; // 视频图片的高度(720px)
$video-play-section-height: 250px; // 视频播放区域高度
$video-play-section-height320: 170px; // 视频播放区域高度(320px)
$video-play-section-height360: 192px; // 视频播放区域高度(360px)
$video-play-section-height390: 210px; // 视频播放区域高度(390px)
$video-play-section-height640: 351px; // 视频播放区域高度(640px)
$video-play-section-height720: 396px; // 视频播放区域高度(720px)
body {
    background: $gray-dark;
    overflow: hidden;
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
    /* 指正常的未被访问过的链接*/
}

a:visited {
    text-decoration: none;
    /*指已经访问过的链接*/
}

a:hover {
    text-decoration: none;
    /*指鼠标在链接*/
}

a:active {
    text-decoration: none;
    /* 指正在点的链接*/
}

.pagePhone {
    margin-top: 1.3rem;
}

video {
    width: 100%;
    background: black;
}

.stepImg {
    width: 100%;
    border-bottom: 1px solid none;
    display: block;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
}
