@import "compass/css3";
@import "constant";
@import "mixin";
@import "common_portal";
@import "variables";
@import "compass/typography/text/ellipsis";
@import "normalize";
.headerCom {
    width: 100%;
    height: 0.5rem;
    position: fixed;
    top: 0px;
    z-index: 11;
    text-align: center;
    img {
        width: 0.5rem;
    }
    a:nth-child(1) {
        position: absolute;
        left: 0.54rem;
    }
    a:nth-child(2) {
        position: absolute;
        right: 0.54rem;
    }
    a:nth-child(3) {
        img {
            width: 2.1rem;
            position: relative;
            top: 0.15rem;
        }
    }
}

body {
    background: $gray-dark;
    text-align: center;
}

.centerWord {
    position: relative;
    color: $red-base;
    font-size: $size46;
    padding-top: 0.3rem;
    padding-bottom: 0.4rem;
}

.en {
    font-size: 0.14rem;
    color: $gray;
    margin-top: 0.4rem;
    margin-bottom: 0.2rem;
    font-size: $size36;
}

.autoBack {
    margin-top: 0.15rem;
    margin-bottom: 0.45rem;
    font-size: $size28;
    color: $gray;
}

.backIndex {
    width: 8rem;
    height: 1.1rem;
    line-height: 1.1rem;
    margin: 0 auto;
    border-radius: 25px;
    color: white;
    font-size: $size40;
    background: $red-base;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    margin-left: -4rem;
}

.logoerror {
    width: 8.6rem;
    height: 7.13rem;
    margin-top: 3.1rem;
}
