/* 手机端-播放页 */

@import "compass/css3";
@import "constant";
@import "mixin";
@import "common_portal";
$section-height: 126px;
$dt-font-color: #333;
$dd-font-color: #666;
$background-color: #ffffff;
.wrap {
    overflow: auto;
}

.content-wrap {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: $background-color;
    overflow: hidden;
}

%section-wrap {
    width: 100%;
    height: $section-height;
    margin: 0 auto;
    .left-part {
        display: inline-block;
        width: 50%;
        height: 100%;
        float: left;
    }
    .right-part {
        display: inline-block;
        float: right;
        width: 50%;
        height: 100%;
    }
}

@mixin dl-delay() {
    dl {
        display: inline-block;
        $height: 80px;
        position: relative;
        top: 50%;
        width: 142px;
        left: 50%;
        margin-left: -38px;
        height: $height;
        margin-top: -($height / 2);
        dt {
            height: 26px;
            padding-bottom: 2px;
            font: {
                size: $big-font-size;
                weight: 600;
            }
            color: $fe5453;
            line-height: 26px;
            span {
                width: 26px;
                height: 26px;
                color: #ffffff;
                background-color: $fe5453;
                display: inline-block;
                line-height: 26px;
                margin-right: 8px;
                text-align: center;
                @include border-radius(25px);
            }
        }
        dd {
            height: 16px;
            margin-top: 8px;
            font: {
                size: $normal-font-size;
                weight: normal;
            }
            color: $dd-font-color;
        }
    }
}

@mixin img-delay() {
    img {
        position: relative;
        top: 50%;
        left: 50%;
        width: 88px;
        height: 100px;
        margin-top: -48px;
        margin-left: -65px;
    }
}

.first-section-wrap {
    @extend %section-wrap;
    .left-part {
        @include dl-delay();
    }
    .right-part {
        @include img-delay();
        img {
            width: 68px;
            height: 100px;
        }
    }
}

.second-section-wrap {
    @extend %section-wrap;
    .left-part {
        @include img-delay();
        img {
            margin-left: -48px;
        }
    }
    .right-part {
        @include dl-delay();
        dl {
            margin-left: -48px;
        }
    }
}

.third-section-wrap {
    @extend %section-wrap;
    .left-part {
        @include dl-delay();
    }
    .right-part {
        @include img-delay();
    }
}

.order-section {
    width: 100%;
    height: 90px;
    margin: 25px auto;
    .order-input-wrap {
        position: relative;
        width: 80%;
        height: 40px;
        margin: 0 auto;
        input {
            height: 40px;
            width: 72%;
            min-width: 130px;
            border: solid 1px #fe5453;
            display: inline-block;
            line-height: 40px;
            font-size: $normal-font-size;
            text-indent: 0.8em;
        }
        button {
            display: inline-block;
            vertical-align: top;
            width: 28%;
            min-width: 51px;
            height: 100%;
            line-height: 100%;
            @include border-radius(0);
        }
    }
    .order-phone-wrap {
        width: 80%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border: solid 1px #fe5453;
        margin: 25px auto;
        @include border-radius(25px);
        a {
            text-decoration: none;
            color: $fe5453;
            span {
                width: 100%;
                height: 100%;
                color: $fe5453;
            }
        }
    }
}
