/* 手机端-播放页 */

@import "compass/css3";
@import "constant";
@import "mixin";
@import "common_portal";
@import "common_card";
@import "compass/typography/text/ellipsis";
body {
    overflow: hidden;
    background: $gray-dark;
}

.videoShow {
    width: 100%;
    height: auto;
    margin-top: 1.3rem;
    position: relative;
    video {
        width: 100%;
    }
}

.videoTitle {
    color: #e3e3e3;
    font-size: $size46;
    margin-top: 0.85rem;
    width: 8rem;
    text-align: left;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    padding-left: 0.3rem;
}

.videoTag {
    width: 9.2rem;
    height: auto;
    margin: 0 auto;
    text-align: center;
    font-size: 0;
    div {
        text-align: center;
        font-size: $size28;
        border: 1px solid $gray-light;
        color: $gray-light;
        border-radius: 71px;
        display: inline-block;
        vertical-align: top;
        width: 2rem;
        height: 0.6rem;
        line-height: 0.6rem;
        margin-right: 0.2rem;
        margin-bottom: 0.3rem;
    }
}

.videoPrice {
    text-align: center;
    color: $red-base;
    font-size: 0.6rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.videoEn {
    color: $gray-light;
    font-size: $size30;
    margin-top: 0.2rem;
    text-align: center;
    margin-bottom: 0.3rem
}

.videoInfo {
    color: #e3e3e3;
    font-size: $size40;
    width: 100%;
    text-align: center;
    margin-top: 0.6rem;
    margin-bottom: 0.2rem;
}

.videoLines {
    width: 9.2rem;
    height: 1px;
    margin: 0 auto;
    background: $gray-light;
}

.videoContent {
    border-top: 1px solid $gray-light;
    width: 9.2rem;
    height: auto;
    margin: 0 auto;
    position: relative;
    .content {
        font-size: $size36;
        color: $border-line;
        letter-spacing: 0.5px;
        line-height: 0.6rem;
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
    }
    .orderVideo {
        background: $red-base;
        border-radius: 61px;
        width: 8rem;
        height: 1.1rem;
        line-height: 1.1rem;
        text-align: center;
        font-size: $size40;
        color: white;
        margin: 0 auto;
        margin-bottom: 0.8rem;
    }
    .videoCompany {
        width: 100%;
        height: 1.7rem;
        line-height: 1.7rem;
        div {
            height: 1.7rem;
            display: inline-block;
            vertical-align: top;
        }
        .cLogo {
            width: 1.7rem;
            position: relative;
            margin-bottom: 1rem;
            img:nth-child(1) {
                height: 100%;
                width: 1.7rem;
                border-radius: 100%;
            }
            img:nth-child(2) {
                width: 0.3rem;
                position: absolute;
                bottom: 0;
                right: 0.2rem;
            }
        }
        div:nth-child(2) {
            color: #e3e3e3;
            font-size: $size40;
            @include ellipsis;
            width: 5rem;
        }
        div:nth-child(3) {
            color: $red-base;
            font-size: $size36;
            position: absolute;
            right: 0;
            line-height: 1.7rem;
        }
    }
}

//推荐
.anli {
    .title {
        width: 100%;
        color: #e3e3e3;
        font-size: 0.34rem;
        text-align: center;
    }
    .line {
        background: $gray-dark;
        width: 9.2rem;
        height: 1px;
        margin-top: 0.7rem;
        margin-bottom: 0.6rem;
    }
}

.anliContent {
    width: 100%;
    height: 5.65rem;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 0;
    margin-top: 0.6rem;
    .contentItem {
        display: inline-block;
        vertical-align: top;
        width: 10rem !important;
        height: 100%;
        background-size: 100% 100% !important;
        position: relative;
        margin-right: 0.1rem;
       
    }
    .anliContent::-webkit-scrollbar {
        width: 0px;
    }
    .anliContent::-webkit-scrollbar {
        display: none
    }
}

.moreAnli {
    font-size: $size40;
    color: white;
    width: 5rem;
    height: 1.1rem;
    margin: 0 auto;
    margin-top: 0.7rem;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 1.1rem;
    background: $red-base;
    border-radius: 69px;
}

.model {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: none;
    .success {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -4.5rem;
        margin-left: -4.5rem;
        width: 9rem;
        height: 9rem;
        background: white;
        text-align: center;
        border-radius: 18px;
        img {
            width: 2.4rem;
            margin-top: 1.2rem;
        }
        a {
            color: $red-base !important;
        }
        div:nth-child(2) {
            color: $gray-dark;
            font-size: 0.4rem;
            margin-top: 0.6rem;
            margin-bottom: 0.4rem;
        }
        div:nth-child(3) {
            color: $gray-light;
            font-size: 0.34rem;
        }
        div:nth-child(4) {
            color: $red-base;
            font-size: 0.34rem;
            margin-top: 0.3rem;
            margin-bottom: 0.8rem;
        }
        div:nth-child(5) {
            color: white;
            font-size: 0.36rem;
            width: 4rem;
            height: 1rem;
            line-height: 1rem;
            text-align: center;
            border-radius: 100px;
            background: $red-base;
            box-shadow: 0 4px 8px 0;
            margin: 0 auto;
        }
    }
    .showOrder {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -4.5rem;
        margin-left: -4.5rem;
        width: 9rem;
        height: 9rem;
        background: white;
        text-align: left;
        border-radius: 8px;
        .orderItem {
            width: 7rem;
            margin: 0 auto;
            position: relative;
            .getCode {
                width: 2.5rem !important;
                height: 0.9rem !important;
                border-left: 1px solid #d1d1d1;
                position: absolute;
                top: 0.6rem;
                text-align: center;
                line-height: 0.9rem;
                right: 0.1rem;
                font-size: $size40;
            }
            .error {
                font-size: 0.26rem;
                color: $red-base;
                width: 7rem;
                margin-top: 0.2rem;
                display: none;
            }
            input {
                outline: none;
                width: 100%;
                height: 0.9rem;
                border-radius: 4px;
                background: white;
                border: 1px solid $border-line;
                padding-left: 10px;
                font-size: $size40;
                color: $gray-dark !important;
                text-align: left;
                padding-left: 10px;
            }
        }
        .title {
            width: 7rem;
            font-size: 0.5rem;
            color: $gray-dark;
            margin: 0 auto;
            margin-top: 1.5rem;
            margin-bottom: 0.5rem;
        }
    }
}

.submitOrder {
    width: 7rem !important;
    height: 1.1rem !important;
    background: $red-base;
    border-radius: 70px;
    color: white;
    font-size: $size40;
    line-height: 1.1rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 0.5rem;
    position: relative;
}

.closeOrder {
    width: 0.8rem;
    position: absolute;
    top: -0.3rem !important;
    right: -0.3rem !important;
}

#teamPhoto {
    background: white;
    padding: 2px;
}

//收藏


.videoSet{
    width: 9.2rem;
    position: relative;
    margin: 0 auto;
}

.save {
    background-position-y: 0px !important;
}

.itemS{
    position: absolute !important;
    bottom: 0;
}

.videoSave {
    width: 0.5rem;
    height: 0.5rem;
    background: url(/resources/images/video/saveBtn.png) no-repeat;
    background-size: 0.5rem 1rem !important;
    background-position-y: -17px;
    position: absolute;
    top: 0rem;
    right:0rem;
    div {
        width: 1.5rem;
        height: 0.3rem;
        color: $gray-light;
        font-size: $size30;
        text-align: center;
        line-height: 0.3rem;
        position: absolute;
        top: -0.5rem;
        background: $gray-dark;
        border-radius: 4px;
        right: -0.5rem;
        display: none;
    }
}
