        /* 手机端 主页 */
        
        @import "compass/css3";
        @import "constant";
        @import "mixin";
        @import "common_portal";
        @import "variables";
        //@import "compass/css3/box-shadow";
        @import "compass/typography/text/ellipsis";
        @import "normalize";
        $video-video-height: 270px; // 视频图片的高度
        $video-video-height320: 180px; // 视频图片的高度(320px)
        $video-video-height360: 202px; // 视频图片的高度(360px)
        $video-video-height390: 220px; // 视频图片的高度(320px)
        $video-video-height640: 360px; // 视频图片的高度(640px)
        $video-video-height720: 405px; // 视频图片的高度(720px)
        $video-play-section-height: 250px; // 视频播放区域高度
        $video-play-section-height320: 170px; // 视频播放区域高度(320px)
        $video-play-section-height360: 192px; // 视频播放区域高度(360px)
        $video-play-section-height390: 210px; // 视频播放区域高度(390px)
        $video-play-section-height640: 351px; // 视频播放区域高度(640px)
        $video-play-section-height720: 396px; // 视频播放区域高度(720px)
        a {
            text-decoration: none;
        }
        
        body {
            overflow: hidden;
            background: black;
            /* background: url(/resources/video/indexVideo.gif) no-repeat;            
            background-size: 100% 100%; */
        }
        
        .backImg {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0px;
            div {
                position: absolute;
                background-color: rgba(51, 51, 51, 0.6);
                width: 100%;
                height: 100%;
                z-index: 3;
            }
            img {
                position: absolute;
                width: 100%;
                // -webkit-transition: all 1.2s ease-in .1s;
                // -moz-transition: all 1.2s ease-in .1s;
                // -o-transition: all 1.2s ease-in .1s;
                // transition: all 1.2s ease-in .1s;
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -o-transform: scale(1);
                transform: scale(1);
                opacity: 0;
                -webkit-transition: transform 4s, opacity 1.2s;
                -moz-transition: transform 4s, opacity 1.2s;
                -o-transition: transform 4s, opacity 1.2s;
                transition: transform 4s, opacity 1.2s;
            }
            .activeImg {
                -webkit-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -o-transform: scale(1.2);
                transform: scale(1.2);
                opacity: 1;
            }
        }
        
        .indexVideo {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
        }
        
        .indexBack {
            width: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
        }
        
        .pagePhone {
            -webkit-overflow-scrolling: touch;
            background: transparent;
            overflow: auto;
            position: relative;
            z-index: 10;
            height: 100%;
            margin-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
        
        .headerCom {
            width: 100%;
            height: 0.5rem;
            position: fixed;
            top: 0px;
            z-index: 11;
            text-align: center;
            .ppwLogo {}
            img {
                width: 0.5rem;
            }
            a:nth-child(1) {
                position: absolute;
                left: 0.54rem;
            }
            a:nth-child(2) {
                position: absolute;
                right: 0.54rem;
            }
            a:nth-child(3) {
                img {
                    width: 2.1rem;
                    position: relative;
                    top: 0.15rem;
                }
            }
        }


        
        //第一区域
        .logo {
            text-align: center;
            img {
                width: 2.03rem;
            }
            color:white;
            font-size: 0.67rem;
            margin-bottom: 1.95rem;
        }
        
        .swiper-container {
            width: 100%;
            height: auto;
        }
        
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            width: 100%;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            color: white;
            .title {
                font-size: 0.54rem;
            }
            .desc {
                font-size: 0.47rem;
            }
            .line {
                width: 2.2rem;
                height: 2px;
                background: white;
                margin: 0 auto;
                margin-top: 0.35rem;
                margin-bottom: 0.35rem;
            }
            .icon {
                margin-top: 1rem;
                img {
                    width: 1.4rem;
                }
            }
        }
        
        .getPhone {
            color: white;
            font-size: 0.36rem;
            width: 7rem;
            margin: 0 auto;
            .getPhoneItem {
                width: 100%;
                position: relative;
                margin-top: 0.3rem;
            }
            .getCode {
                height: 0.8rem;
                line-height: 0.8rem;
                color: $white;
                width: 3rem;
                border-left: 1px solid $red-base;
                position: absolute;
                top: 0.1rem;
                right: 0;
                text-align: center;
            }
            input {
                background: none;
                width: 7rem;
                height: 1rem;
                line-height: 1rem;
                text-align: left;
                border-color: $red-base;
                border-radius: 61px;
                margin: 0 auto;
                outline: none;
                padding-left: 10px;
            }
            .error {
                font-size: 0.2rem;
                color: $red-base;
                position: relative;
                top: 0.2rem;
                display: none;
            }
        }
        
        .order {
            color: white;
            font-size: 0.36rem;
            width: 7rem;
            height: 1rem;
            line-height: 1rem;
            text-align: center;
            background: $red-base;
            border-radius: 61px;
            margin: 0 auto;
            margin-top: 0.4rem;
            margin-bottom: 2rem;
        }
        
        .bannerAni {
            position: relative;
            -webkit-animation: ba .6s infinite linear;
            -moz-animation: ba .6s infinite linear;
            -o-animation: ba .6s infinite linear;
            animation: ba .6s infinite linear;
        }
        
        @-webkit-keyframes ba {
            0% {
                bottom: 0.5rem;
                //     opacity: 1;
            }
            50% {
                bottom: 0px;
                //      opacity: 0;
            }
            100% {
                bottom: 0.5rem;
                //     opacity: 1;
            }
        }
        
        ////第一区域end
        //第二区域
        .secondContent {
            .title {
                width: 100%;
                color: white;
                font-size: 0.4rem;
                text-align: center;
                margin-bottom: 0.8rem;
            }
            .service {
                width: 100%;
                color: white;
                font-size: 0.4rem;
                text-align: center;
                margin-top: 1rem;
                margin-bottom: 0.8rem;
            }
        }
        
        .conDiv {
            width: 8rem;
            height: 3.6rem;
            border-bottom: 1px solid #e3e3e3;
            font-size: 0px;
            margin: 0 auto;
            a {
                .conItem {
                    width: 50% !important;
                    height: 100%;
                    display: inline-block;
                    vertical-align: top;
                    text-align: center;
                }
                img {
                    margin-top: 0.8rem;
                    width: 1.8rem;
                    margin-bottom: 0.3rem;
                }
                .type {
                    color: white;
                    width: 100%;
                    font-size: 0.36rem;
                    height: auto !important;
                }
            }
            .leftItem {
                border-right: 1px solid #e3e3e3;
            }
        }
        
        .noBot {
            border-bottom: none;
        }
        
        .serviceItem {
            width: 100%;
            text-align: center;
            font-size: 0;
            margin-bottom: 1rem;
            li {
                width: 33%;
                display: inline-block;
                vertical-align: top;
                img {
                    width: 1.14rem;
                    margin-bottom: 0.3rem;
                }
                .wordItem {
                    margin-bottom: 0.3rem;
                    div {
                        display: inline-block;
                        vertical-align: middle;
                    }
                    div:nth-child(1) {
                        width: 0.4rem;
                        height: 0.4rem;
                        line-height: 0.38rem;
                        border: 1px solid white;
                        color: white;
                        font-size: 0.2rem;
                        margin-right: 0.1rem;
                        border-radius: 90%;
                    }
                    div:nth-child(2) {
                        color: white;
                        font-size: 0.28rem;
                    }
                }
            }
        }
        
        .freeTel {
            color: white;
            font-size: 0.36rem;
            width: 7rem;
            height: 1rem;
            line-height: 1rem;
            text-align: center;
            background: $red-base;
            border-radius: 61px;
            margin: 0 auto;
            margin-top: 0.4rem;
            margin-bottom: 2rem;
        }
        
        //第二区域end
        //第三区域
        .ourCusTitle {
            color: white;
            font-size: 0.4rem;
            margin-bottom: 0.8rem;
            width: 100%;
            text-align: center;
        }
        
        .join {
            width: 4rem;
            height: 0.9rem;
            font-size: 0.36rem;
            color: white;
            line-height: 0.9rem;
            text-align: center;
            position: relative;
            top: -0.5rem;
            left: 50%;
            margin-left: -2rem;
            background: $red-base;
            border-radius: 100px;
            z-index: 4;
        }
        
        .ourCus {
            white-space: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            position: relative;
            font-size: 0;
            .item:first-child {
                margin-left: 0.4rem;
            }
            .item {
                width: 10rem;
                height: 4.08rem;
                vertical-align: top;
                display: inline-block;
                background-color: rgba(51, 51, 51, 0.6);
                margin-right: 0.1rem;
                padding-top: 0.5rem;
                padding-left: 0.4rem;
                position: relative;
                border-radius: 16px;
                .proLogo {
                    width: 2.46rem;
                    height: 2.46rem;
                    padding: 0.06rem;
                    background: white;
                    border-radius: 90%;
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 0.3rem;
                    img:nth-child(1) {
                        width: 100%;
                        border-radius: 100%;
                    }
                    img:nth-child(2) {
                        width: 0.43rem;
                        position: absolute;
                        bottom: 0px;
                        right: 0.35rem;
                    }
                }
                .proContent {
                    display: inline-block;
                    vertical-align: top;
                    height: 2.46rem;
                    position: relative;
                    .title {
                        width: 6rem;
                        color: white;
                        font-size: 0.36rem;
                        @include ellipsis;
                    }
                    .des {
                        width: 6rem;
                        height: 0.75rem;
                        color: #e3e3e3;
                        font-size: 0.32rem;
                        line-height: 0.4rem;
                        overflow: hidden;
                        white-space: initial;
                        margin-top: 0.3rem;
                    }
                    .tags {
                        width: 6rem;
                        overflow: hidden;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        height: 0.5rem;
                        font-size: 0;
                        .tagsItem {
                            width: 1.3rem;
                            height: 0.5rem;
                            line-height: 0.48rem;
                            border-radius: 49px;
                            font-size: 0.26rem;
                            color: $gray-light;
                            text-align: center;
                            border: 1px solid $gray-light;
                            margin-right: 0.2rem;
                            display: inline-block;
                            vertical-align: top;
                        }
                    }
                }
            }
        }
        
        .ourCus::-webkit-scrollbar {
            width: 0px;
        }
        
        .ourCus::-webkit-scrollbar {
            display: none
        }
        
        .showLogo::-webkit-scrollbar {
            width: 0px;
        }
        
        .showLogo::-webkit-scrollbar {
            display: none
        }
        
        .showLogo {
            white-space: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            font-size: 0;
            margin-bottom: 1rem;
            img:first-child {
                margin-left: 0.4rem;
            }
            img {
                width: 2.4rem;
                height: 2.4rem;
                display: inline-block;
                vertical-align: top;
                margin-right: 0.1rem;
            }
        }
        
        //底部
        .rightContent,
        .leftContent {
            display: inline-block;
            vertical-align: top;
        }
        
        .rightContent {
            text-align: center;
            margin-left: 0.3rem;
            img {
                width: 2.4rem;
                height: 2.4rem;
                display: block;
            }
            div {
                font-size: 0.24rem;
                color: $border-line;
                margin-top: 0.2rem;
            }
        }
        
        .footPhone {
            border-top: 1px solid $gray-light;
            background: $gray-dark;
            padding-left: 0.8rem;
            padding-right: 0.8rem;
            font-size: 0;
            padding-top: 0.3rem;
            .logoFoot {
                width: 2rem;
                display: block;
            }
            .service {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    width: 0.3rem;
                    height: 0.3rem;
                    background: url(/resources/images/index/footPhone.png);
                    background-size: 0.3rem 0.3rem;
                    left: -0.35rem;
                }
            }
            .cMail {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    width: 0.3rem;
                    height: 0.3rem;
                    background: url(/resources/images/index/footMail.png);
                    background-size: 0.3rem 0.3rem;
                    left: -0.35rem;
                }
            }
            .cAddress {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    width: 0.3rem;
                    height: 0.3rem;
                    background: url(/resources/images/index/footAddress.png);
                    background-size: 0.3rem 0.3rem;
                    left: -0.35rem;
                    top: 0.01rem;
                }
            }
            div {
                vertical-align: top;
                display: inline-block;
            }
            .footItem {
                font-size: 0.32rem;
                color: $border-line;
                padding-left: 0.4rem;
                display: block;
                margin-top: 0.3rem;
                margin-bottom: 0.3rem;
                line-height: 15px;
                div:nth-child(2) {
                    width: 4.6rem;
                }
            }
        }
        
        .footBottom {
            width: 100%;
            border-top: 1px dashed $gray-light;
            color: $gray-light;
            font-size: 0.26rem;
            padding-top: 10px;
            padding-bottom: 10px;
            line-height: 0.5rem;
            text-align: center;
        }
        
        //下单成功
        .model {
            background-color: rgba(0, 0, 0, 0.7);
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 20;
            display: none;
            .success {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -4.5rem;
                margin-left: -4.5rem;
                width: 9rem;
                height: 9rem;
                background: white;
                text-align: center;
                border-radius: 18px;
                img {
                    width: 2.4rem;
                    margin-top: 1.2rem;
                }
                a {
                    color: $red-base !important;
                }
                div:nth-child(2) {
                    color: $gray-dark;
                    font-size: 0.4rem;
                    margin-top: 0.6rem;
                    margin-bottom: 0.4rem;
                }
                div:nth-child(3) {
                    color: $gray-light;
                    font-size: 0.34rem;
                }
                div:nth-child(4) {
                    color: $red-base;
                    font-size: 0.34rem;
                    margin-top: 0.3rem;
                    margin-bottom: 0.8rem;
                }
                div:nth-child(5) {
                    color: white;
                    font-size: 0.36rem;
                    width: 4rem;
                    height: 1rem;
                    line-height: 1rem;
                    text-align: center;
                    border-radius: 100px;
                    background: $red-base;
                    box-shadow: 0 4px 8px 0;
                    margin: 0 auto;
                }
            }
        }
        
        //视频
        .video-play-sections {
            position: relative;
            width: 100%;
            background: #000;
            top: 50%;
            height: $video-video-height;
            @media screen and (max-width: 360px) {
                height: $video-video-height320;
                margin-top: -($video-video-height320 / 2);
            }
            @media screen and (min-width: 360px) and (max-width: 390px) {
                height: $video-video-height360;
                margin-top: -($video-video-height360 / 2);
            }
            @media screen and (min-width: 390px) and (max-width: 460px) {
                height: $video-video-height390;
                margin-top: -($video-video-height390 / 2);
            }
            @media screen and (min-width: 640px) and (max-width: 720px) {
                height: $video-video-height640;
                margin-top: -($video-video-height640 / 2);
            }
            @media screen and (min-width: 720px) {
                height: $video-video-height720;
                margin-top: -($video-video-height720 / 2);
            }
            .video-play {
                width: 100%;
                height: 100%;
            }
            video {
                width: 100%;
                height: 100%;
            }
        }
        
        #closeBtn {
            position: absolute;
            top: 5%;
            right: 5%;
            margin-right: 5%;
            color: #fff;
            font-size: 30px;
            margin-top: 20px;
            border: none;
            outline: none;
            background: transparent;
        }
