@import "compass/css3";
@import "constant";
@import "mixin";
@import "common_portal";
$wrap-width-280: 280px;
$wrap-width-320: 320px;
$wrap-width-480: 480px;
$wrap-width-640: 640px;
$wrap-width-720: 720px;
html,
body {
    background-color: $gray-dark;
}

.wrap {
    background-color: $gray-dark !important;
    margin-top: 1.3rem !important;
}

.search-section {
    width: 100%;
    //border-bottom: solid 1px #999;
}

.header-search-wrap {
    position: relative;
    height: 28px;
    width: 320px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 9px;
    @media screen and (max-width: 320px) {
        width: $wrap-width-280;
    }
    @media screen and (min-width: 320px) and (max-width: 480px) {
        width: $wrap-width-320;
    }
    @media screen and (min-width: 480px) and (max-width: 640px) {
        width: $wrap-width-480;
    }
    @media screen and (min-width: 640px) and (max-width: 720px) {
        width: $wrap-width-640;
    }
    $search-icon-width: 30px;
    $search-icon-height: 30px;
    input {
        padding: 0 10px;
        width: 100%;
        height: 30px;
        height: $search-icon-height;
        line-height: 30px;
        outline: none;
        font-size: $normal-font-size;
        color: #666;
        border: 1px solid $border-line;
        background: #424242;
        border-radius: 71px;
        @include border-radius(4px);
        &:hover {
            border: 1px solid rgba(190, 190, 190, 1);
        }
        &:focus {
            border: 1px solid rgba(190, 190, 190, 1);
        }
    }
    .go {
        position: absolute;
        display: block;
        top: 0.6rem;
        right: 0;
        width: $search-icon-width;
        height: $search-icon-height;
        cursor: pointer;
    }
    .bk_gray {
        background: image-url("/resources/images/icons/search-btn.png") no-repeat;
        width: $search-icon-width;
        height: $search-icon-height;
        background-size: $search-icon-width;
    }
}

.recomment-section {
    width: 100%;
    .recomment-section-wrap {
        position: relative;
        height: 80px;
        width: 280px;
        color: #666;
        margin: 0 auto;
        @media screen and (max-width: 320px) {
            width: $wrap-width-280;
        }
        @media screen and (min-width: 320px) and (max-width: 480px) {
            width: $wrap-width-320;
        }
        @media screen and (min-width: 480px) and (max-width: 640px) {
            width: $wrap-width-480;
        }
        @media screen and (min-width: 640px) and (max-width: 720px) {
            width: $wrap-width-640;
        }
        .row {
            height: 45%;
            margin: 0 auto;
        }
        label {
            width: 32%;
            height: 28px;
            line-height: 28px;
            margin-right: 2%;
            background: #424242;
            padding: 0 10px;
            text-align: center;
            cursor: pointer;
            @include border-radius(20px);
            font-size: 0.26rem;
            color: $border-line;
        }
        label:last-child {
            margin-right: 0;
        }
    }
}

.title {
    font-size: 0.36rem;
    color: $border-line;
    width: 320px;
    margin: 0 auto;
    height: 51px;
    padding-top: 50px;
}
