@import "compass/css3";
@import "constant";
@import "common_portal";
@import "variables";
@import "compass/typography/text/ellipsis";
@import "normalize";
.toBuy {
    width: 2.1rem;
    height: 0.6rem;
    line-height: 0.6rem;
    color: white;
    font-size: $size36 !important;
    background: $red-base;
    text-align: center;
    position: absolute;
    top: 0.65rem;
    border-radius: 4px;
    right: 0.54rem;
    margin-top: -0.25rem;
    display: none;
}

.roateType {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -moz-transform: rotate(180deg);
    /* Firefox */
    -webkit-transform: rotate(180deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(180deg);
}

.headerTags {
    border-top: 1px solid $gray-light;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 0;
    height: 1.3rem;
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 11;
    background: $gray-dark;
    top: 1.3rem;
    div {
        font-size: $size40;
        color: $gray-light;
        display: inline-block;
        vertical-align: top;
        margin-left: 0.5rem;
        margin-right: 0.1rem;
        width: 1.88rem;
        height: 0.6rem;
        text-align: center;
        line-height: 0.6rem;
        position: relative;
        top: 0.3rem;
    }

    a:last-child {
        div {
            font-size: $size36;
            margin-left:3.5rem;
            width: 1.88rem;
            height: 0.6rem;
            color: white !important;
            background: $red-base;
            border-radius: 6px;
            position: absolute;
            right:0.5rem;
        }
    }
    .active {
        color: $red-base !important;
    }
}

.showType {
    height: auto;
    width: 100%;
    position: fixed;
    top: 1.25rem;
    left: 0;
    z-index: 11;
    background: $gray-dark;
    display: none;
    div {
        width: 80%;
        height: 1.1rem;
        line-height: 1.1rem;
        color: white;
        font-size: $size36;
        text-align: center;
        margin: 0 auto;
    }
    a{
        div {
            border-bottom: 1px solid $gray-light;
        }
    }
    a:last-child{
        div{
            border: none !important;
        }
    }
}

.searchType {
    position: absolute;
    right: 50% !important;
    margin-right: -2.2rem !important;
    top: 0.4rem;
}
