@import "compass/css3";
@import "constant";
@import "mixin";
@import "common_portal";
@import "variables";
@import "compass/typography/text/ellipsis";
@import "normalize";
@import "pmotion";
.pagePhone {
    padding-top: 2.6rem;
    background-image: linear-gradient(-179deg, #1C1A34 0%, #282F37 100%);
}

.title {
    font-size: $size46;
    color: white;
    text-align: center;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

.typeMod {
    width: 9.2rem;
    height: 1.5rem;
    margin: 0 auto;
    font-size: 0;
    .modItem:nth-child(1) {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        margin-right: -1px;
    }
    .modItem:nth-child(3) {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-left: -1px;
    }
    .active {
        border-color: $red-base !important;
        color: $red-base;
        position: relative;
        z-index: 5;
    }
    .modItem {
        width: 33%;
        height: 100%;
        font-size: $size40;
        display: inline-block;
        vertical-align: top;
        border: 1px solid #979797;
        text-align: center;
        div:nth-child(1) {
            color: $border-line;
            margin-top: 0.2rem;
            margin-bottom: 0.2rem;
        }
        div:nth-child(2) {
            color: $border-line-light;
            font-size: $size40;
        }
    }
}

.normal {
    .tItem {
        background-image: linear-gradient(0deg, #D9D2CF 0%, #B5B5B5 52%, #F3F0F1 54%, #BCBCBE 100%) !important;
    }
}

.k2 {
    display: none;
    .tItem {
        background-image: linear-gradient(-180deg, #EAC322 0%, #FDCE3A 47%, #B08312 52%, #DA932E 100%) !important;
    }
}

.k4 {
    display: none;
    .tItem {
        background-image: linear-gradient(-180deg, #131418 0%, #383838 44%, #000000 50%, #2F2F2F 98%) !important;
        color: white !important;
    }
}

.showProduct {
    width: 9.2rem;
    height: 5.2rem;
    position: relative;
    margin: 0 auto;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    img:nth-child(1) {
        width: 100%;
        height: 100%;
    }
    img:nth-child(2) {
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -0.75rem;
        margin-left: -0.75rem;
    }
}

.des {
    width: 9.2rem;
    font-size: $size40;
    color: $gray-light;
    line-height: 0.6rem;
    margin: 0 auto;
    margin-bottom: 0.7rem;
    text-align: center;
}

.setTags {
    width: 9.2rem;
    margin: 0 auto;
    font-size: 0;
    margin-bottom: 0.8rem;
    .tItem:nth-child(3) {
        margin-right: 0;
    }
    .tItem {
        width: 3rem;
        height: 0.6rem;
        line-height: 0.6rem;
        margin-right: 0.1rem;
        background-image: linear-gradient(-180deg, #EAC322 0%, #FDCE3A 47%, #B08312 52%, #DA932E 100%);
        font-size: $size28;
        color: $gray-dark;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        border-radius: 4px;
    }
}

.showMoreDiv {
    font-size: 0;
    text-align: center;
    div {
        margin-bottom: 0.15rem;
        color: $red-base;
        font-size: $size36;
        width: 100%;
    }
    img {
        width: 0.48rem;
        height: 0.48rem;
    }
}

.setInfo {
    background-image: linear-gradient(-179deg, #1C1A34 0%, #282F37 100%);
    padding-top: 0.8rem;
    padding-bottom: 0.2rem;
    display: none;
    .setInfoWidth {
        width: 9.2rem;
        margin: 0 auto;
        .close {
            width: 100%;
            text-align: center;
            img {
                width: 0.8rem;
                height: 0.8rem;
            }
        }
        .sTitle {
            padding-bottom: 0.4rem;
            div {
                font-size: $size46;
                color: white;
                margin-top: 0.6rem;
                margin-bottom: 0.3rem;
                span {
                    margin-left: 0.2rem;
                    font-size: $size30;
                    color: $gray-light;
                }
            }
        }
        .sContent {
            font-size: 0;
            padding-top: .6rem;
            .cItem {
                width: 50%;
                display: inline-block;
                vertical-align: top;
                padding-right: 15%;
                margin-bottom: 0.8rem;
                div {
                    text-align: left;
                }
                .pTitle {
                    color: $border-line;
                    font-size: $size40;
                }
                .info {
                    margin-top: 0.3rem;
                    margin-bottom: 0.3rem;
                    color: $gray-light;
                    font-size: $size36;
                    line-height: .5rem;
                }
                .other {
                    color: $red-base;
                    font-size: $size36;
                }
            }
        }
    }
}

.toNext {
    width: 7rem;
    height: 1.1rem;
    line-height: 1.1rem;
    text-align: center;
    margin: 0 auto;
    border-radius: 100px;
    color: white;
    font-size: $size40;
    background: $red-base;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
}

//时长板块
.setMargin {
    padding-top: 1rem;
}

.titleTime {
    color: white;
    font-size: $size46;
    padding-left: 0.8rem;
    span {
        color: $size30;
        font-size: $size30;
        margin-left: 0.2rem;
    }
}

.timeContent {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 0;
    padding-left: 0.8rem;
    margin-top: 0.6rem;
    margin-bottom: 0.8rem;
    .active {
        border: 1px solid $red-base !important;
        color: $red-base !important;
    }
    .tItem {
        display: inline-block;
        vertical-align: top;
        width: 3rem;
        height: 2rem;
        border: 1px solid $gray;
        border-radius: 8px;
        color: white;
        text-align: center;
        padding-top: 0.4rem;
        margin-right: 0.1rem;
        span {
            font-size: $size30;
        }
        div {
            font-size: $size46;
            margin-top: 0.2rem;
            span {
                font-size: $size28 !important;
            }
        }
    }
}

.additional {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 0;
    padding-left: 0.8rem;
    padding-bottom: 0.2rem;
    margin-top: 0.6rem;
    margin-bottom: 0.8rem;
    .active {
        border: 1px solid $red-base !important;
        color: $red-base !important;
    }
    .aItem {
        display: inline-block;
        vertical-align: top;
        width: 6.66rem;
        height: 3.74rem;
        border: 1px solid $gray;
        border-radius: 4px;
        margin-right: 0.2rem;
        padding-bottom: 0.2rem;
        position: relative;
        color: #e3e3e3;
        img {
            width: 100%;
            height: 100%;
            vertical-align: top;
            display: inline-block;
            border-radius: 4px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
        .mod {
            width: 100%;
            height: 100%;
            vertical-align: top;
            display: inline-block;
            border-radius: 4px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            background-color: rgba(0, 0, 0, 0.7);
        }
        .itemContent {
            vertical-align: top;
            display: inline-block;
            width: 100%;
            text-align: center;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            padding-top: 0.7rem;
            div:nth-child(1) {
                font-size: $size40;
                margin-top: 0.1rem;
                @include ellipsis;
            }
            div:nth-child(2) {
                font-size: $size36;
                margin-top: 0.2rem;
                margin-bottom: 0.2rem;
                @include ellipsis;
            }
            div:nth-child(3) {
                font-size: $size30;
                height: 1rem;
                white-space: initial;
                line-height: 0.45rem;
            }
        }
    }
}

.line {
    width: 9.2rem;
    height: 1px;
    border: 1px dashed $gray-light !important;
    margin: 0 auto;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.showDes {
    width: 7.77rem;
    margin: 0 auto;
    text-align: center;
    font-size: $size36;
    color: $border-line;
    line-height: 0.5rem;
}

.showPrice {
    text-align: center;
    font-size: 0;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    span:nth-child(1) {
        color: white;
        font-size: $size36;
    }
    span:nth-child(2) {
        color: $red-base;
        font-size: $size36;
        margin-left: 0.3rem;
        margin-right: 0.1rem;
    }
    span:nth-child(3) {
        color: $red-base;
        font-size: $size60;
    }
}

.btnDiv {
    font-size: 0;
    width: 8rem;
    margin: 0 auto;
    margin-bottom: 0.7rem;
    div:nth-child(1) {
        margin-right: 0.4rem;
    }
    div {
        display: inline-block;
        vertical-align: top;
        width: 3.8rem;
        height: 1.1rem;
        line-height: 1.1rem;
        color: white;
        font-size: $size40;
        background: $red-base;
        border-radius: 1rem;
        text-align: center;
    }
}

#step2 {
    display: none;
}
